body {
    font-family: 'Segoe UI';
    overflow: hidden;
	background: linear-gradient(-45deg, #887ac7, #717eb8, #7ca1b9, #8bc5bb);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	overflow-x: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

