.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.promptContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.prompt {
    outline: none;
    box-shadow: inset 0 0 10px #000000;
    width: 850px;
    height: 40px;
    padding: 10px;
    background-color: #222D54;
    border: none;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.chatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.playerContainer {
    scrollbar-width: none;
    -ms-overflow-style: none;
    transform: translateY(-5%);
    overflow: auto;
    width: 850px;
    height: 850px;
    background-color: #ffffff;
    border-radius: 15px;
}

.playerContainer::-webkit-scrollbar {
    display: none;
}

.bubble {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    margin: 20px;
    padding: 15px;
    border-radius: 25px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.loadingIndicator {
    flex-direction: column;
    padding-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
    margin-left: -25px;
    animation: dot-animation 1s ease-in-out infinite;
    background-color: #FF8787;
    border-radius: 50%;
}

.dot:nth-child(1) {
    animation-delay: 0.5s;
}
  
.dot:nth-child(2) {
    animation-delay: 1s;
}
  
.dot:nth-child(3) {
    animation-delay: 1.5s;
}

@keyframes dot-animation {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.choiceContainer {
    transform: translateY(1%);
    margin-left: 50px;
}

.scrollablediv {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
    box-sizing: border-box;
    width: 450px;
    height: 770px;
    padding: 10px;
    background-color: #92bbf8;
    border-radius: 15px;
}

.choiceMenu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scrollbar-width: none; /* For Firefox */;
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */;
    overflow: auto;
    width: 450px;
    height: 770px;
    background-color: #92bbf8;
    border-radius: 15px;
}

/* For WebKit browsers (Chrome, Safari, Opera) */
.choiceMenu::-webkit-scrollbar {
    display: none;
}

.choicePrompt {
    outline: none;
    box-shadow: inset 0 0 10px #000000;
    width: 430px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    background-color: #92bbf8;
    border: none;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bolder;
    color: #222D54;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.choiceBubble {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bolder;
    color: #222D54;
}

.choicePromptContainer {
    display: flex;
    align-items: center;
}

.methodSelect {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100;
    margin: 10px;
    padding: 10px;
    background-color: #DEBAFD;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.localSelect {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #DEBAFD;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.outputInfo {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-self: flex-end;
    width: 100px;
    margin: 10px;
    padding: 5px;
    background-color: #DEBAFD;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.outputText {
    font-size: 10px;
    font-weight: bolder;
}

.infoMenu {
    transform: translateY(1%);
    margin-right: 50px;
}

.progressionInfo {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 280px;
    margin-bottom: 20px;
    background-color: #fae1b2;
    border-radius: 15px;
}

.productContainer {
    margin-left: 20px;
    padding-top: 20px;
}

.product {
    font-size: 30px;
    font-weight: bolder;
    color: #542222;
}

.scoreContainer {
    margin-left: 20px;
    padding-bottom: 20px;
}

.score {
    font-size: 30px;
    font-weight: bolder;
    color: #222D54;
}

.characterInfo {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 450px;
    height: 650px;
    background-color: #b1cfb7;
    border-radius: 15px;
}

.characterContainer {
    margin-top: 30px;
}

.nameCharacter {
    margin-left: 20px;
    font-size: 80px;
    font-weight: bolder;
    color: #2F4639;
}

.descriptionCharacter {
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    color: #413a2e;
}

.descriptionScore {
    margin-left: 20px;
    font-size: 35px;
    font-weight: bolder;
    color: #00806a;
}

.noClient {
    margin-top: 100px;
    margin-left: 25px;
    font-size: 50px;
    font-weight: bolder;
    color: #412e2e;
}